<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.googlecode.goclipse.launch.goLaunchType">
<booleanAttribute key="buildArguments_UseDefault" value="true"/>
<stringAttribute key="buildTarget" value=" #build"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GO_TEST"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GOPATH" value="E:/workspace_go/GO_TEST/"/>
</mapAttribute>
<stringAttribute key="programArguments" value=""/>
<booleanAttribute key="programPath_UseDefault" value="true"/>
<stringAttribute key="project" value="GO_TEST"/>
</launchConfiguration>
