<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.googlecode.goclipse.launch.goLaunchType">
<booleanAttribute key="buildArguments_UseDefault" value="true"/>
<stringAttribute key="buildTarget" value="t08_safeHandler"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/T04_socket"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="programPath_UseDefault" value="true"/>
<stringAttribute key="project" value="T04_socket"/>
</launchConfiguration>
